; A sample configuration file for lipid parametrization
;
; The four [sections] (simulation, properties, parameters and optimaztion) must 
; be explicitly included in this config file.
; Under each [section], options to perform the optimazation are declared.


[simulation]

; Except option "lmp", all other file-related options indicate a path relative 
; to the "path" option. E.g., "processScript = ../process.sh" points to a 
; script file in the parent folder of the "path" directory. 

mode = simulation
execute = lammps -in 
path = ./simulation
inFileName = in.2xlipid
processScript = preProcess.sh 


[properties]

; Option "totalProperties" must match the amount of given targeted properties, 
; which are counted starting from 1.
; For each targeted property, name can be either identified, or left blank, 
; which will be automatically assigned as "q_N".  

totalProperties = 4

; 1. area per lipid
property1Name = A_l 
property1Ref = 70.0

; 2. thinkness
property2Name = 
property2Ref = 37.0

; 4. diffusion
property3Name = 
property3Ref = 10.0
property3Special = log

; 5. dipole
property4Name = 
property4Ref = 0.5
property4Special = scaled
property4SpecialArg = 100


[parameters]

; All (file-related) options in the "parameters" section is declared relative 
; to the directory you execute the programme.
  
initParaTableFile = initParaTable.dat
paraTableFile = paraTable.dat
ffForSimulation = forcefield.DOPC
ffTemplate = forcefield.temp


[optimization]

; Now only the "Nelder-Mead" algorithm is supported.

optMethod = Nelder-Mead
